PETIÇÃO INICIAL - AÇÃO DE COBRANÇA

Exequente: {{ credor_nome }}
Executado: {{ devedor_nome }}
Título: {{ numero_documento }}
Valor da causa: R$ {{ valor_total }}

Nestes termos, pede deferimento.
{{ data }}
